<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit Profile</title>
    <link rel="stylesheet" href="editprofile.css">
</head>
<body class="body">
    <div class="TopContainer">
        <div class="Logo"></div>
    </div>
    <div class="RightContainer">
        <button id="HomeButton" class="HomeButton"><img src="images/HomeButton.png" alt="HOME"></button>
        <button id="SignOutButton" class="SignOutButton"><img src="images/SignOutButton.png" alt="SIGN OUT"></button>
    </div>
    <div class="UserInfo">
        <div class="AvatarContainer">
            <img src="images/Avatar.png" class="Avatar" alt="Avatar">
            <button class="EditAvatarButton"><img src="images/EditButton.png" alt="Edit"></button>
        </div>
        <div class="UsernameContainer">
            <span class="Username">Username</span>
            <button class="EditUsernameButton"><img src="images/EditButton.png" alt="Edit"></button>
        </div>
        <div class="BioContainer">
            <span class="Bio">New to ChiVOGUE.</span>
            <button class="EditBioButton"><img src="images/EditButton.png" alt="Edit"></button>
        </div>
    </div>
    <button id="BackButton" class="BackButton"><img src="images/BackButton.png" alt="BACK"></button>
    <script src="editprofilescript.js"></script>
</body>
</html>
