<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up - ChiVOGUE</title>
    <link rel="stylesheet" href="loginstyle.css">
</head>
<body class="body">
    <header>
        <div class="Logo"></div>
        <!-- Sign-in button initially visible -->
        <button id="signInButton" style="display:none;">Sign In</button>
        <!-- Sign-out button initially hidden -->
        <button id="signOutButton" style="display:none;">
            <img src="images/SignOutButton.png" alt="Sign Out">
        </button>
    </header>
    <div class="SignUpBox">
        <img src="images/SignUp.png" class="SignUp" alt="SIGN UP!">
        <form class="SignUpForm" onsubmit="handleSignUp(event)">
            <input type="email" id="email" name="email" placeholder="Email" required>
            <input type="text" id="username" name="username" placeholder="Username" required>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
            <button type="submit">Sign Up</button>
        </form>
        <div class="SignInLink">
            <span>Already have an account? <a href="login.html">Sign in!</a></span>
        </div>
    </div>
    <script src="signupscript.js"></script>
</body>
</html>
