<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Page View - ChiVOGUE</title>
    <link rel="stylesheet" href="/css/userstyle.css">
</head>
<body class="body">
    <div class="TopContainer">
        <div class="Logo"></div>
    </div>
    <div class="RightContainer">
        <button id="HomeButton" class="HomeButton"><img src="images/HomeButton.png" alt="HOME"></button>
        <button id="EditProfileButton" class="EditProfileButton"><img src="images/EditProfileButton.png" alt="EDIT PROFILE"></button>
        <button id="SignOutButton" class="SignOutButton"><img src="images/SignOutButton.png" alt="SIGN OUT"></button>
    </div>
    <div class="UserInfo">
        <img src="images/Avatar.png" class="Avatar" alt="Avatar">
        <div class="Username">Username</div>
        <div class="Bio">New to ChiVOGUE.</div>
    </div>
    <div class="MiddleContainer">
        <div id="PostContainer">
            <h2 class="HeaderText">User Activity</h2>
            <!-- Posts will be inserted here -->
        </div>
    </div>
    <script src="/js/userpagescript.js"></script>
</body>
</html>
